<div class = "animals-container">

    {{#each animals as |animal|}}

    <div class="animal-card">
        <!--p tags-->
        <p id="animal_name">Name: {{animal.name}}</p>
        <p id="animal_description">Description: {{animal.description}}</p>
        <p id="animal_date">Date: {{animal.date_created}}</p>
        <p id="animal_fee">Adoption fee: ${{animal.adoption_fee}}</p>
        <button class="delete" data-id={{animal.id}} onclick="deletepet(event)">Delete</button>
        <button id="edit">Edit</button>
    </div>
    {{/each}}
    </div>
    <script src="/js/profile.js"></script>